/*
:root {
    --primary: #002B5B;
    --secondary: #2B4865;
    --third: #8FE3CF;
    --fourth: #256D85;
}
*/

/*
:root {
    --primary: #495C83;
    --secondary: #7A86B6;
    --third: #A8A4CE;
    --fourth: #C8B6E2;
}
*/
:root {
    --primary: #222831;
    /*--secondary: #393E46;*/
    --secondary: #171c22;
    --third: #00ADB5;
    --fourth: #EEEEEE;
}